/*.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}*/

/*wave*/
.custom-shape-divider-top-1754236671 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1754236671 svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 87px;
}

.custom-shape-divider-top-1754236671 .shape-fill {
    fill: #EBEBDF;
}

/*heading*/
#heading {
  background-color: #191265;
}

span {
	color: #EBEBDF;
}

/*content*/
#content {
  background-color: #EBEBDF;
}

.picture_cat {
	height: 200px;
	border-radius: 50%;
}

.container {
  color: #191265;
}

.intro {
  line-height: 35px;
  font-weight: 500;
}

.text-body-emphasis {
  color: #191265 !important;
}

.detail {
  color: #191265;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px;
}

.item-3 {
  grid-column: span 2;
}

.item-4 {
  grid-column: span 2;
}

.grid-item {
  border:#191265 solid;
  border-radius: 30px;
}

/*content > education*/
.education {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  color: #191265;
}

/*content > skills and tools*/
.skills {
  color: #1F509A;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-right: 3%;
}

/*content > projects and experience*/
.projects {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 1%;
  color: #191265;
}

/*content > links*/
.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 1.5%;
  color: #1F509A;
}


/*footer*/
#footer {
  background-color: #191265;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	text-align: right;
}

.text-body-secondary {
	text-decoration: none;
	margin: 0 6px;
	line-height: 35px;	
}

.contact-me {
	margin-bottom: 6px;
}

/*responsive for mobile*/
@media (max-width: 480px) {
  .grid-container {
    display: block;
  }

  .grid-item {
    margin-bottom: 25px;
  }
}